sudo: required
language: python
python:
  - "3.6"
  - "3.7"
  - "3.8"

addons:
  mariadb: "10.4"

install:
  - pip install .

before_script:
  - sudo mysql -e 'CREATE DATABASE IF NOT EXISTS app;'
  - sudo mysql -e "CREATE USER IF NOT EXISTS 'silence'@'localhost' IDENTIFIED BY '123456';"
  - sudo mysql -e "GRANT ALL ON app.* TO 'silence'@'localhost';"

script:
  - mkdir travis-ci && cd travis-ci
  - silence new app
  - cd app
  - silence createdb
