language: python
python:
  - "3.6"
  - "3.7"
  - "3.8"
  - "3.9"

addons:
  mariadb: "10.4"

install:
  - pip install .

before_script:
  - sudo mysql -e 'CREATE DATABASE IF NOT EXISTS testing;'
  - sudo mysql -e "CREATE USER IF NOT EXISTS 'silence'@'localhost' IDENTIFIED BY '123456';"
  - sudo mysql -e "GRANT ALL ON testing.* TO 'silence'@'localhost';"

script:
  - silence new ci_app --url https://github.com/miguel-bermudo/Silence-CI-Project.git
  - cd ci_app
  - silence createdb
  - silence createapi
  - silence run &
  - sleep 15 # give it ample time just in case
  - cd test
  - python test_endpoints.py
